h1{
    text-align: center;
    font-family: cursive;
    color: yellow;
}

body{
    background-color: black;
    background-image: url('https://w0.peakpx.com/wallpaper/557/875/HD-wallpaper-green-leaves-texture-background-with-green-leaves-ecology-environment-green-leaves-leaves-background.jpg');
    background-size: cover;
}
p{
    margin-left: 50px;
}



.box-model{
    border: 10px solid yellow;
    padding: 30px;
    margin: 50px;
    border-radius: 20px;
    text-wrap: wrap;
  }
.btn{
    margin: 50px;
    padding: 10px;
    color: black;
    background-color: yellow;
    border-radius: 25px;
}
p{
    color: white;
    font-family: cursive;
}

.card-img{
    margin-right: 50%;
    width: 45%;
    height: 50%;
    border-radius:26px;
}

